.accordion-container {
  display: flex;
  flex-direction: column;
  gap: emRem(20, rem);
}

.accordion {
  border: emRem(1, rem) solid $color-gray;
}

.accordion-header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr emRem(25, rem);
  gap: emRem(20, rem);
  padding: emRem(20, rem) emRem(20, rem) 0 emRem(20, rem);

  &__button {
    width: emRem(25, rem);
    height: emRem(25, rem);
    top: 0;
    right: 0;
    padding: 0;
    line-height: 0;
    border: none;
    border-radius: unset;
    background: $color-white;
    text-indent: -9999rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    & span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      &:before, &:after {
        content: "";
        position: absolute;
        display: block;
        height: emRem(2, rem);
        width: emRem(15, rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        border-radius: emRem(2, rem);
        background: $color-black;
        transition: all ease-in-out 0.3s;

      }

      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }

    }

    &--active {
      & span {
        &:before {
          transform: translate(-50%, -50%) rotate(-90deg);
          background: transparent;
        }
        &:after {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
  }
}

.accordion-content {
  max-height: 0;
  padding: 0 emRem(20, rem);
  overflow: hidden;
  transition: max-height ease-in-out 0.3s;
}