.article-header {
  position: relative;
  width: 100%;
  margin-bottom: emRem(40, rem);

  &:not(.article-header--no-title) {
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(17, 17, 17, 0.5);
      z-index: 2;
    }
  }


  &__title {
    position: absolute;
    max-width: calc(100% - #{emRem(40, rem)});
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: unset;
    font-size: emRem(28, em);
    font-weight: 700;
    color: #ffffff;
    z-index: 3;

    @include for-tablet {
      font-size: emRem(38, em);
    }

    @include for-laptop {
      font-size: emRem(45, em);
    }
  }

  &__image {
    width: 100%;
    height: emRem(280, rem);
    object-fit: cover;

    @include for-tablet {
      height: emRem(350, rem);
    }

    @include for-laptop {
      height: emRem(470, rem);
      object-position: 50% 35%;
    }

  }
}
