.benefits-block {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    max-width: 280px;
    margin: 0 20px 40px 20px;
  }
}

.single-benefits {
  position: relative;
  height: 100%;
  padding: 20px;
  &__text {
    position: relative;
    z-index: 10;
    margin-top: 80px;
  }
  &__top-el {
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    top: -30px;
    left: 50%;
    background-color: $color-white;
    transform: translate(-50%, 0);
  }
  &__button {
    position: absolute;
    left: 50%;
    bottom: -26px;
    transform: translate(-50%, 0);
    white-space: nowrap;
  }
  &__bg {
    position: absolute;
    width: 70%;
    height: auto;
    top: -40%;
    left: 50%;
    transform: translate(-50%, 0);
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
  }
}

