.brands {
  text-align: center;
  &__inner {
    text-transform: uppercase;
  }
}

.brands-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-left: -0.8%;
  margin-right: -0.8%;


  &__item {
    width: calc(50% - 1.6%);
    margin: 0.8%;


    @include for-tablet {
      width: calc(25% - 1.6%);
    }

    &--large {
      width: 100%;

      @include for-tablet {
        width: calc(50% - 1.6%);
      }
    }

  }

  &__item-inner {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background: $color-gray-light;
    &--large {
      padding: 0;
    }
  }

  &__image {
    position: absolute;
    width: auto;
    max-width: 70%;
    height: 220px;
    top: 50%;
    left: 50%;
    object-fit: contain;
    transform: translate(-50%, -50%);

    &--large {
      position: relative;
      width: 100%;
      max-width: unset;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      transform: unset;
    }
  }

}
