::placeholder {

}

form p {
  width: 100%;
}

label {
  position: relative;
  width: 100%;
  display: inline-block;
  @include for-desktop {

  }

  &.long-width {
    width: 100%;
  }

  .label-inner {
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 25px;
    line-height: 1;
    padding: 5px;
    background: $color-white;
    border-radius: 50px;
    white-space: nowrap;
    z-index: 2;
  }


}


input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='search'],
input[type='submit'],
textarea,
select {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  margin-bottom: emRem(10, rem);
  padding: emRem(18, rem) emRem(10, rem);
  font-size: emRem(16, em);
  color: $color-black;
  border: emRem(1, rem) solid $color-black;
  border-radius: 0;
  background: $color-white;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
}

textarea {
  height: emRem(100, rem);
  min-height: emRem(100, rem);
  resize: vertical;
}


select {
  padding-right: 30px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
}


.submit-button,
input[type='submit'] {
  width: 100%;
  max-width: emRem(240, rem);
  display: inline-block;
  margin-bottom: emRem(10, rem);
  padding: emRem(18, rem) emRem(10, rem);
  font-size: emRem(16, em);
  color: $color-white;
  border: emRem(1, rem) solid $color-orange;
  border-radius: 0;
  background: $color-orange;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  z-index: 10;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    border: 1px solid $color-black;
    background: $color-black;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background: $color-black;
    }
  }

}