a {
  color: inherit;
  transition: color ease-in-out 0.3s;
  text-transform: unset;

  &[href^="tel:"] {
    white-space: nowrap;
  }
}

a:hover, a:focus, a:active {
  color: inherit;
}

/* a:visited {
  color: unset;
} */

/* a:focus,
button:focus {
  outline: thin dotted;
} */

a:hover, a:active {
  outline: 0;
}

.colorize-orange {
  color: $color-orange;
}

.button-look {
  border-radius: 10px;
  display: inline-block;
  padding: emRem(15, rem) emRem(20, rem);
  text-decoration: none;
  color: $color-white !important;
  background-color: $color-orange;
  transition: background-color ease-in-out 0.3s;
  text-align: center;
  text-transform: unset;
  line-height: 1;

  & a {
    text-decoration: none;
    text-transform: unset;
  }

  &:hover {
    background-color: $color-black;
  }

  &--border {
    background-color: transparent;
    color: $color-orange !important;
    border: 1px solid $color-orange;

    &:hover, &-active {
      color: $color-white !important;
      background-color: $color-black;
    }
  }

  &--full-width {
    width: 100%;
  }
}

.to-uppercase {
  text-transform: uppercase;
}

.enumeration {
  width: 100%;
  display: inline-block;
  font-weight: 700;

  &__first-letter {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    font-size: 20px;
    color: $color-white;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    background: $ci-color-primary;
    border-radius: 50%;
  }
}

h1 {
  font-size: 28px;
  @include for-laptop {
    font-size: 32px;
  }
}

h2 {
  font-size: 24px;
  @include for-laptop {
    font-size: 28px;
  }
}

h1 {
  font-size: 16px;
  @include for-laptop {
    font-size: 20px;
  }
}

h1, h2, h3 {
  margin: 0 auto 20px;
  line-height: 1.4;
  font-weight: 500;
  text-transform: unset !important;
}

.section__column--sidebar {
  h1, h2, h3 {
    font-size: 20px;
    @include for-laptop {
      font-size: 24px;
    }
  }
}

p {
  margin: 0 0 20px 0;
  text-transform: unset;
}

p.list-content__excerpt {
  text-transform: unset;
}

ul {
  margin: 0 0 20px 0;
  padding-left: 17px;
}

dfn, cite, em, i {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

* {
  &.aligncenter {
    text-align: center;
  }
}

.section-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  text-align: center;
}